:root {
  --primary-color: #FF3131;
  --top-bar-color: #666666;
  --primary-text-color: #000000;
  --border: #f2f2f2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url("../font/UTM Silk Script.ttf");
  font-family: UTM;
}

@font-face {
  src: url("../font/UVN Mua Thu.ttf");
  font-family: UVN;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 1.6rem;
}

a {
  text-decoration: none !important;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row {
  margin: 0;
}

#color {
  display: none;
}

.change-color {
  position: fixed;
  top: 50%;
  left: -42px;
  z-index: 1;
  background-color: #cacaca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  cursor: pointer;
}

.change-color__primary {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  margin-left: 5px;
  padding: 5px;
  border-radius: 50%;
}

.absolute {
  position: absolute;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.change-color:hover {
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

#color:checked ~ .change-color {
  left: 0;
}

.color__selection {
  background: white;
  position: fixed;
  z-index: 2;
  top: 55.2%;
  left: 41.5px;
  padding: 5px;
  border-radius: 5px;
}

.color__selection span {
  width: 30px;
  height: 30px;
  display: block;
  margin-bottom: 5px;
  border-radius: 50%;
}

.color__selection .red {
  background-color: var(--primary-color);
}

.color__selection .blue {
  background-color: blue;
}

.color__selection .green {
  background-color: green;
}

.color__selection .pink {
  background-color: pink;
}

.product {
  width: 17%;
  text-align: center;
}

.product img {
  width: 100%;
}

.product-title {
  font-size: 14px;
  margin-top: 26px;
  margin-bottom: 16px;
}

.product-price {
  font-size: 16px;
  color: var(--primary-color);
  margin-bottom: 18px;
}

.product-buy {
  border: 1px solid #c7c7c7;
  border-radius: 999px;
  font-size: 13px;
  color: #4b4b4b;
  padding: 10px 30px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.product-buy:hover {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  -webkit-transition: .5s;
  transition: .5s;
}

.product__link {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.product__link .absolute {
  color: gray;
  background: white;
  padding: 18px;
  font-size: 16px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.product__link:hover .absolute {
  opacity: 1;
  -webkit-transition: .25s linear;
  transition: .25s linear;
}
/*# sourceMappingURL=base.css.map */