.header__top-bar {
  background-color: #FAFAFA;
  padding: 16px 0;
}

.header__top-bar-text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-bar span {
  color: var(--top-bar-color);
  cursor: pointer;
  font-size: 1.3rem;
}

.header__top-bar .seperate {
  width: 1px;
  height: 10px;
  background: #EBEBEB;
  margin: 0 4px;
  display: inline-block;
  -webkit-transform: translate(0px, 15%);
          transform: translate(0px, 15%);
}

.header__logo-bar {
  padding: 34px 0;
}

.header__logo-bar span {
  color: var(--top-bar-color);
}

.header__logo-bar-icon {
  font-size: 22px;
  border: 1px solid var(--border);
  border-radius: 50px;
  width: 65px;
  min-width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}

.header__logo-bar-icon:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header__logo-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-bar p {
  font-size: 12px;
}

.header__logo-bar p:first-child {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}

.header__menu {
  list-style: none;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.header__menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-search, .header__menu-cart {
  font-size: 16px;
  padding: 11px;
  cursor: pointer;
  position: relative;
}

.header__menu-cart {
  margin-right: 5px;
}

.header__menu-cart::after {
  content: "0";
  font-size: 12px;
  width: 22px;
  height: 22px;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  color: white;
  position: absolute;
  right: -5px;
  bottom: -2px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-list a {
  padding: 18px 20px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
}

.header__menu-list a:first-child {
  border-left: 1px solid var(--border);
}

.header__menu-list a:hover {
  text-decoration: none;
}

.body .body__slider {
  height: 550px;
  max-height: 100%;
  overflow: hidden;
}

.body .body__slider div {
  height: 100%;
}

.body .body__slider-overlay {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.body .body__slider .carousel-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 center;
     object-position: 0 center;
}

.body .body__slider .carousel-item span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
}

.body .body__slider .carousel-item span img {
  position: absolute;
  width: 500px;
  height: auto;
}

.body .body__slider .carousel-item:nth-child(2) img {
  -webkit-transform: unset;
          transform: unset;
}

.body__title {
  text-align: center;
  margin-bottom: 38px;
}

.body__title p {
  font-size: 24px;
  font-family: "UVN";
  margin-bottom: 0;
}

.body__title h2 {
  font-size: 45px;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: 300;
}

.body .shopping {
  padding-bottom: 30px;
}

.body .shopping__freeship {
  padding-top: 32px;
}

.body .shopping__freeship img {
  width: 100%;
}

.body .shopping__freeship-effect {
  opacity: 0;
  line-height: 1;
  text-align: center;
  position: absolute;
  color: white;
  top: 0;
  width: 92.5%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.body .shopping__freeship-border {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 4%;
  right: 4%;
  border: 1px solid white;
  padding-top: 12%;
  cursor: default;
}

.body .shopping__freeship-effect p:first-child {
  font-size: 55px;
  font-family: "UVN";
}

.body .shopping__freeship-effect p:last-child {
  font-size: 68px;
  font-family: "Roboto";
}

.body .shopping__freeship > div:hover .shopping__freeship-effect {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.body .shopping__sale {
  padding-top: 54px;
  padding-bottom: 15px;
}

.body .shopping__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body .shopping__block-img {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body .shopping__block-img .block-col {
  width: 32%;
}

.body .shopping__block-img .block-col img {
  width: 100%;
}

.body .shopping__block-img .block-col:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body .shopping__block-img .block-col:nth-child(2) img:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 25px;
}

.body .shopping__all-product {
  padding-top: 54px;
}

.body .shopping__category {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body .shopping__category li {
  font-size: 16px;
  padding-right: 24px;
  margin-bottom: 16px;
  cursor: pointer;
}

.body .shopping__product.tab-2, .body .shopping__product.tab-3 {
  display: none;
}

.small-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6))), url("../img/small-banner.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.6)), url("../img/small-banner.jpg") no-repeat;
  background-size: cover;
  height: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-banner img {
  margin-bottom: 20px;
}

.small-banner p {
  color: white;
  font-size: 16px;
  max-width: 810px;
  text-align: center;
  font-weight: 300;
}

.blog {
  padding-top: 50px;
}
/*# sourceMappingURL=main.css.map */